.publishedContent, .waitingContent{
    cursor:pointer;
}

.userMenu {
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: .85rem;
    color: #858796;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e3e6f0;
    border-radius: .35rem;
    left: auto;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}

footer{
    background:#ccc;

    position:sticky;

    bottom:0;

    width:100%;

    padding-top:50px;

    height:50px;
}

table {
    width: 100%;
}